<template>
    <div>
        Stripe Inspector
    </div>
</template>

<script>
    export default {
        props: ['resourceName', 'resourceId', 'field'],

        mounted() {
            const issuesRefunds = this.field.issuesRefunds;
        }
    }
</script>
